// Variabler för upprepad användning
// Färger
$primär-färg: #181a1b;
$sekundär-färg: rgb(255, 253, 249);
$accent-färg: #f2b306c5;

$buttonColor: #3498db;

// Extra färgteman
$info-färg: #3498db;
$success-färg: #2ecc71;
$warning-färg: #e67e22;
$danger-färg: #e74c3c;

$light-gray: #ecf0f1;
$medium-gray: #bdc3c7;
$dark-gray: #7f8c8d;

// Border-radius
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 18px;
$border-radius-full: 50%;

// Box-shadow
$box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

// Padding
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;
$padding-extra-large: 30px;

// Margin
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;
$margin-extra-large: 30px;

// Transition
$hoverTransitionTime: 0.5s;

// Font sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-extra-large: 24px;

// Variabler för upprepad användning
// $colors: (
//   // Light Theme
//   "light": (
//     "900": #1c1e26,
//     "1000": #050505,
//     "100": #f4f7fa,
//     "300": #dbe1e9,
//     "800": #454857,
//     "700": #707487,
//     "200": #f0f4f9
//   ),
//   // Dark Theme
//   "dark": (
//     "100": #0e1425,
//     "700": #9fa7c2,
//     "1000": #0b0f1e,
//     "200": #161c2d,
//     "800": #d7ddf4,
//     "600": #757d98,
//     "500": #5a627e,
//     "300": #272d41,
//     "400": #40465b,
//     "900": #f2f4fd,
//     "0": #0b0f1e
//   ),
//   // Accent Colors
//   "accent": (
//     "pink": #a105ae,
//     "medium-pink": #bd36c9,
//     "purple": #7b4fff,
//     "light-pink": #f46eff,
//     "dark-accent": #9385f9
//   ),
//   // Neutrals
//   "neutrals": (
//     "floral-white": #fffcf4
//   )
// );
